################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/SimpleApi/MooDeng.Api/obj
/src/SimpleApi/MooDeng.Api.Tests/obj
/src/SimpleApi/MooDeng.Api/bin/Debug/net8.0
/src/SimpleApi/MooDeng.Api.Tests/bin/Debug/net8.0
/src/SimpleApi/MooDeng.Api/obj
/src/SimpleApi/MooDeng.Api.Tests/obj
/src/SimpleApi/.vs/SimpleApi/v17/.suo
/src/SimpleApi/.vs/SimpleApi/v17/DocumentLayout.backup.json
/src/SimpleApi/.vs/SimpleApi/v17/DocumentLayout.json
/src/SimpleApi/MooDeng.Api/bin/Debug/net8.0/MooDeng.Api.dll
/src/SimpleApi/MooDeng.Api/bin/Debug/net8.0/MooDeng.Api.exe
/src/SimpleApi/MooDeng.Api/bin/Debug/net8.0/MooDeng.Api.pdb
/src/SimpleApi/MooDeng.Api.Tests/bin/Debug/net8.0/MooDeng.Api.Tests.dll
/src/SimpleApi/MooDeng.Api.Tests/bin/Debug/net8.0/MooDeng.Api.Tests.pdb
/src/SimpleApi/MooDeng.Api.Tests/bin/Debug/net8.0/MooDeng.Parties.Models.dll
/src/SimpleApi/MooDeng.Api.Tests/bin/Debug/net8.0/MooDeng.Parties.Models.pdb
/src/SimpleApi/MooDeng.Parties.Models/bin/Debug/net8.0/MooDeng.Parties.Models.dll
/src/SimpleApi/MooDeng.Parties.Models/bin/Debug/net8.0/MooDeng.Parties.Models.pdb
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/ref/MooDeng.Parties.Models.dll
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/refint/MooDeng.Parties.Models.dll
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/MooDeng.Parties.Models.AssemblyInfo.cs
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/MooDeng.Parties.Models.AssemblyInfoInputs.cache
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/MooDeng.Parties.Models.dll
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/MooDeng.Parties.Models.pdb
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/MooDeng.Parties.Models.sourcelink.json
/src/SimpleApi/MooDeng.Parties.Models/bin/Debug/net8.0
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/MooDeng.Parties.Models.assets.cache
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/MooDeng.Parties.Models.csproj.AssemblyReference.cache
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/MooDeng.Parties.Models.csproj.CoreCompileInputs.cache
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/MooDeng.Parties.Models.csproj.FileListAbsolute.txt
/src/SimpleApi/MooDeng.Parties.Models/obj/Debug/net8.0/MooDeng.Parties.Models.GeneratedMSBuildEditorConfig.editorconfig
/src/SimpleApi/MooDeng.Parties.Models/obj
