################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
.vs/
/src/SimpleApi/.vs/SimpleApi/FileContentIndex/3001e69c-7bf9-491b-80a8-d0b796e5e337.vsidx
/src/SimpleApi/.vs/SimpleApi/FileContentIndex/c19ef37f-e19c-40fd-ada8-c4ed577e5288.vsidx
/src/SimpleApi/.vs/SimpleApi/DesignTimeBuild/.dtbcache.v2
/src/SimpleApi/.vs/ProjectEvaluation/simpleapi.metadata.v9.bin
/src/SimpleApi/.vs/ProjectEvaluation/simpleapi.projects.v9.bin
/src/SimpleApi/.vs/ProjectEvaluation/simpleapi.strings.v9.bin
/src/SimpleApi/.vs/SimpleApi/v17/TestStore/0/testlog.manifest
/src/SimpleApi/.vs/SimpleApi/v17/.futdcache.v2
